@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');



@import url('https://assets.gumroad.com/packs/static/19db990205089207b039.woff2');

* {
  cursor: none;
  overflow: hidden;
}

body {
  width : 100vw;
  height: 100vh;

  background : url("../assets/space-background.gif") no-repeat center center / cover;
  background-color: #20124D;

}

main {
  display: flex;
}


#cursor {
  height: 50px;
  width: 50px;

  overflow: hidden;

  background : url("../assets/target-blue.png") no-repeat center center / cover !important;

  border-radius: 35%;

  position: absolute;

  top: 0;
  left: 0;
}

.targeted {
  background : url("../assets/space-target.png") no-repeat center center / cover !important;
}

.pointThis {
  position:   absolute;
  width: 40px;
  height: 80px;

  /* background-color: green; */
  /* background-image: url("../assets/asteroid-animation.gif"); */
  background : url("../assets/asteroid-animation.gif") no-repeat center center / cover;
}


#timer {
  margin: 20px;
  font-family: sans-serif;
  background-color: black;
  color: white;

  font-size: 4rem;
}

.tasperdu {
  position: absolute;
  font-size: 8rem;
  margin: 100px;
  font-family: sans-serif;

  background-color: black;
  color: white;
}

.tasgagne {
  position: absolute;
  font-size: 8rem;
  margin: 100px;
  font-family: sans-serif;

  background-color: black;
  color: white;
}

.explosion {
  position: absolute;
  height: 100px;
  width: 100px;
  background : url("../assets/explosion.gif") no-repeat center center / cover;
}
